<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Add Vacancy</title>
</head>
<body>
<br>
<form action='/vacancy/' method="POST">
<div class="row mb-3">
                    <label for="position_name" class="col-sm-2 col-form-label">Position name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="position_name" id="position_name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="company" class="col-sm-2 col-form-label">Company</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="company" id="company">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" id="description">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="contact_name" class="col-sm-2 col-form-label">Contact name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="contact_name" id="contact_name">
                                            </div>
                </div>
    <div class="row mb-3">
                    <label for="contact_email" class="col-sm-2 col-form-label">Contact Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="contact_email" id="contact_email">
                       </div>
                </div>
    <div class="row mb-3">
                    <label for="contact_phone_number" class="col-sm-2 col-form-label">Contact phone number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="contact_phone_number" id="contact_phone_number">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="comment" class="col-sm-2 col-form-label">Comments</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="comment" id="comment">
                    </div>
                </div>
    <button type="submit" value="Add vacancy">Add vacancy</button>
</form>
<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Vacancy ID</th>
      <th scope="col">Date of creation</th>
      <th scope="col">Status</th>
      <th scope="col">Company</th>
      <th scope="col">Contacts</th>
      <th scope="col">Description</th>
      <th scope="col">Position name</th>
      <th scope="col">Comment</th>
      <th scope="col">User ID</th>
    </tr>
</thead>
  <tbody>
    <tr>
        {% for vacancy in vacancies %}
        <td>{{vacancy[0]}}</td>
        <td>{{vacancy[1]}}</td>
        <td>{{vacancy[2]}}</td>
        <td>{{vacancy[3]}}</td>
        <td>{{vacancy[4]}}</td>
        <td>{{vacancy[5]}}</td>
        <td>{{vacancy[6]}}</td>
        <td>{{vacancy[7]}}</td>
        <td>{{vacancy[8]}}</td>
            </tr>
{% endfor %}
  </tbody>
</table>
</body>
</html>