<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title>Login</title>

</head>
<style>
.flash {padding: 10px}
.flash.success {border: 1px solid #2d2d2d; background: honeydew}
.flash.error {border: 1px solid #2d2d2d; background: lavenderblush}
</style>
<br>
<body>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/login/" method = 'post'>
<br>
    <input type="text" name="login" placeholder="login" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit" value="Login">

</form>
</body>
</html>