<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<form action="/user/mail/", method = 'post'>
    <input type="text" name="receiver_email" placeholder="receiver_email">
    <input type="text" name="email_message" placeholder="email_message">
    <input type="submit" value="submit">
</form>

<table class="table table-bordered">
    <tr>
        <th>email</th>
        <th>Subject</th>
        <th>Body</th>
        <th>Date</th>
    </tr>
    {% for email in emails %}
    <tr>
        <td>{{ email[0] }}</td>
        <td>{{ email[1] }}</td>
        <td>{{ email[2]|safe }}</td>
        <td>{{ email[3] }}</td>
    </tr>
    {% endfor %}
</table>
<br><p>
</body>
</html>